<div class="row row-chart">
  <div class="col-md-12">
    <app-main-chart></app-main-chart>
  </div>
</div>

<ul bootstrapTabs class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a bootstrapTab="tab_group" href="#consumers" aria-controls="consumers" role="tab" data-toggle="consumers">Power Consumers</a>
  </li>
  <li role="presentation">
    <a bootstrapTab="tab_group" href="#options" aria-controls="options" role="tab" data-toggle="options">Configuration</a>
  </li>
  <li role="presentation">
    <a bootstrapTab="tab_group" href="#data" aria-controls="data" role="tab" data-toggle="data">Data</a></li>
</ul>

<div class="tab-content" id="tab_group">
  <div role="tabpanel" class="tab-pane active" id="consumers">
    <app-consumers></app-consumers>
  </div><!-- /.tabpanel -->

  <div role="tabpanel" class="tab-pane" id="options">
    <app-options></app-options>
  </div><!-- /.tabpanel -->

  <div role="tabpanel" class="tab-pane" id="data">
    <app-data></app-data>
  </div><!-- /.tabpanel -->
</div><!-- /.tab-content -->
