<div class="row row-chart">
  <div class="col-md-12">
    <app-main-chart
      [batteryVoltsDC]="batteryVoltsDC"

      [data]="chartData"
      [batteryAmpHours]="batteryAmpHours"
    ></app-main-chart>
  </div>
</div>


<ul bootstrapTabs class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a bootstrapTab="tab_group" href="#consumers" aria-controls="consumers" role="tab" data-toggle="consumers">Consumers</a>
  </li>
  <li role="presentation">
    <a bootstrapTab="tab_group" href="#options" aria-controls="options" role="tab" data-toggle="options">Options</a>
  </li>
  <li role="presentation">
    <a bootstrapTab="tab_group" href="#data" aria-controls="data" role="tab" data-toggle="data">Data</a></li>
</ul>

<div class="tab-content" id="tab_group">
  <div role="tabpanel" class="tab-pane active" id="consumers">
    <app-consumers [consumers]="consumers"></app-consumers>
  </div><!-- /.tabpanel -->

  <div role="tabpanel" class="tab-pane" id="options">
    Battery: {{batteryVoltsDC}}<br>
    <app-options
      [(batteryVoltsDC)]="batteryVoltsDC"
      [(batteryAmpHours)]="batteryAmpHours"
      [(selectedBatteryIndex)]="selectedBatteryIndex"

      [(solarVolts)]="solarVolts"
      [(solarWatts)]="solarWatts"

      [(inverterEfficiency)]="inverterEfficiency"
      [(inverterOutputVolts)]="userData"

      [(selectedBattery)]="selectedBattery"
    ></app-options>
  </div><!-- /.tabpanel -->

  <div role="tabpanel" class="tab-pane" id="data">
    <div class="row">
      <div class="col-md-6">

        <table class="table table-striped table-bordered table-condensed">
        <caption>{{ targetVoltsAC }}V AC Needs</caption>
        <tbody>
          <tr>
            <th>Peak Watts Required</th>
            <td>{{ peakWattsAC | number:'1.1-1' }}W</td>
          </tr>
          <tr>
            <th>Peak Amps Required</th>
            <td>{{ peakWattsAC / targetVoltsAC | number:'1.1-1' }}A</td>
          </tr>

          <tr>
            <th>Peak Surge Watts Required</th>
            <td>{{ peakWattsSurgeAC | number:'1.1-1' }}W</td>
          </tr>
          <tr>
            <th>Peak Surge Amps Required</th>
            <td>{{ peakWattsSurgeAC / targetVoltsAC | number:'1.1-1' }}A</td>
          </tr>
        </tbody>
        </table>

        <table class="table table-striped table-bordered table-condensed">
        <caption>{{ batteryVoltsDC }}V DC Needs</caption>
        <tbody>
          <tr>
            <th>Peak Watts Required By DC Consumers</th>
            <td>{{ peakWattsDC | number:'1.1-1' }}W</td>
          </tr>
          <tr>
            <th>Peak Amps Required By DC Consumers</th>
            <td>{{ peakWattsDC / batteryVoltsDC | number:'1.1-1' }}A</td>
          </tr>
          <tr>
            <th>Amp Hours Consumed By DC Consumers</th>
            <td>{{ wattHoursDC / 12 | number:'1.1-1' }}Ah</td>
          </tr>

          <tr>
            <th>Peak Amps Used By Inverter</th>
            <td>{{ peakWattsAC / 12 * (100 / inverterEfficiency) | number:'1.1-1' }}A</td>
          </tr>

          <tr>
            <th>Amp Hours Consumed By Inverter</th>
            <td>{{ wattHoursAC / batteryVoltsDC * (100 / inverterEfficiency) | number:'1.1-1' }}Ah</td>
          </tr>

          <tr>
            <th>Total Amp Hours Consumed</th>
            <td>{{ (wattHoursAC / batteryVoltsDC * (100 / inverterEfficiency)) + (wattHoursDC / 12) | number:'1.1-1' }}Ah</td>
          </tr>
        </tbody>
        </table>

      </div>
    </div>

  </div><!-- /.tabpanel -->
</div><!-- /.tab-content -->
