<div class="row">
  <div class="col-md-12">

    <div *ngFor="let consumerGroup of consumerGroups">

      <table class="table table-striped table-bordered table-condensed table-hover">
      <caption>
        <h4>{{ consumerGroup.name }}</h4>
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Consumer</th>
          <th>Links</th>
          <th>Watts</th>
          <th>Volts</th>
          <th>Amps</th>
          <th>Amps @ {{ userSettingsService.batteryVoltsDC }}</th>
          <th>Duty Cycle</th>
          <th>Pure Sine</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consumer of consumerGroup.consumers">
          <td style="width: 80px;">
            <input type="number" maxlength="2" min="0" class="form-control" value="{{ getQuantity(consumer) }}" (change)="setQuantity(consumer, $event)">
          </td>
          <td>
            <div>
              <strong>{{ consumer.name }}</strong>
              <small *ngIf="consumer.details" [innerHTML]="consumer.details"></small>
            </div>
          </td>
          <td>
            <div *ngIf="consumer.url">
              <a href="{{ consumer.url }}" target="_blank">Details...</a>
            </div>
            <div *ngIf="consumer.amazon_asin">
              <a href="https://www.amazon.com/gp/product/{{ consumer.amazon_asin }}/" target="_blank">Amazon...</a>
            </div>
          </td>
          <td>{{ consumer.watts | number:'1.1-1' }}</td>
          <td>{{ consumer.volts | number:'1.1-1' }}</td>
          <td>{{ consumer.amps | number:'1.3-3' }}</td>
          <td>{{ consumer.watts / userSettingsService.batteryVoltsDC | number:'1.3-3' }}</td>
          <td>{{ consumer.dutyCycle * 100 | number:'1.1-1' }}%</td>
          <td>{{ consumer.requirePureSine ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
      </table>
    </div>

  </div>
</div><!-- /.row -->
