/* You can add global styles to this file, and also import other style files */

html {
  overflow-y: scroll;
  color: red;
}


.jawn-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 3;
}
.jawn {
  position: relative;
  background-color: #F8E71C;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;
}
.jawn:after, .jawn:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}
.jawn:after {
  left: -10px;
  top: -5px;
  background-color: #C7C2A6;
  transform-origin: 15px 10px;
  animation: axis 1s linear infinite;
}
.jawn:before {
  left: -25px;
  top: -15px;
  background-color: #009bff;
  transform-origin: 30px 20px;
  animation: axis 2s linear infinite;
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}


.github-zindex {
  z-index: 10000000;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0deg)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}


.webpack-reloading {
  -webkit-filter: grayscale(30%); /* Chrome, Safari, Opera */
  filter: grayscale(30%);
  opacity: 0.5
}

.nav-tabs > li > a {
  font-size: 0.9em;
  padding: 8px 10px;
  margin-right: 4px;
  line-height: 16px;
}
