<ul>
  <li>Store user settings in localStorage</li>
  <li>More default consumers</li>
  <li>User custom consumers</li>
  <li>Gather safe charge levels for batteries other than AGM</li>
  <li>Implement battery charge warning lines for batteries other than AGM</li>
  <li>
    Add the ability to simulate an isolator with the engine running for a certain amount of time each day
    <ul>
      <li>Text box for Amps</li>
      <li>Select list for hour of day to start</li>
      <li>Text box for hours to run</li>
    </ul>
  </li>
  <li>Custom day ranges for the chart so you can view more than 3 days</li>
  <li>Double check all the math</li>
</ul>
