<div class="row">
  <div class="col-md-6">

    <table class="table table-striped table-bordered table-condensed">
    <caption><h4>Battery Bank</h4>
      <small>Only AGMs have correct minimum battery level data.</small>
    </caption>
    <tbody>
      <tr>
        <th style="vertical-align: middle;">Voltage</th>
        <td style="width: 250px;">
          <div class="input-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="userSettingsService.batteryVoltsDC">
            <div class="input-group-addon">V DC</div>
          </div>
        </td>
      </tr>
      <tr>
        <th style="vertical-align: middle;">Amp Hours</th>
        <td>
          <div class="input-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="userSettingsService.batteryAmpHours">
            <div class="input-group-addon">Ah</div>
          </div>
        </td>
      </tr>
      <tr>
        <th style="vertical-align: middle;">Battery Type</th>
        <td>
          <select [(ngModel)]="userSettingsService.batteryIndex" class="form-control">
            <option *ngFor="let battery of batteryTypes; let i = index" [value]="i">
              {{ battery.name }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
    </table>

    <table class="table table-striped table-bordered table-condensed">
    <caption><h4>Inverter</h4></caption>
    <tbody>
      <tr>
        <th style="vertical-align: middle;">Efficiency</th>
        <td style="width: 155px;">
          <div class="input-group">
            <input type="number" min="1" max="100" class="form-control" [(ngModel)]="userSettingsService.inverterEfficiency">
            <div class="input-group-addon">%</div>
          </div>
        </td>
      </tr>
      <tr>
        <th style="vertical-align: middle;">Output Voltage</th>
        <td style="width: 155px;">
          <div class="input-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="userSettingsService.inverterOutputVolts">
            <div class="input-group-addon">V</div>
          </div>
        </td>
      </tr>
    </tbody>
    </table>

  </div>
  <div class="col-md-6">

    <table class="table table-striped table-bordered table-condensed">
    <caption>
      <h4>Solar</h4>
      <small>This tool assumes that your solar controller will step the panel voltage to your batteries voltage.</small>
    </caption>
    <tbody>
      <tr>
        <th style="vertical-align: middle;">Voltage</th>
        <td style="width: 155px;">
          <div class="input-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="userSettingsService.solarVolts">
            <div class="input-group-addon">V DC</div>
          </div>
        </td>
      </tr>
      <tr>
        <th style="vertical-align: middle;">Watts</th>
        <td>
          <div class="input-group">
            <input type="number" min="0" step="100" class="form-control" [(ngModel)]="userSettingsService.solarWatts">
            <div class="input-group-addon">W</div>
          </div>
        </td>
      </tr>
      <tr>
        <th style="vertical-align: middle;">Nominal Efficiency</th>
        <td style="width: 155px;">
          <div class="input-group">
            <input type="number" min="1" class="form-control" [(ngModel)]="userSettingsService.solarEfficiency">
            <div class="input-group-addon">%</div>
          </div>
        </td>
      </tr>
    </tbody>
    </table>

  </div>
</div>
